/* AddExpense.css */

.add-expense-container {
  margin-top: 20px;
}

.add-expense-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.add-expense-form label {
  margin-bottom: 5px;
}

.add-expense-form input[type="text"],
.add-expense-form input[type="number"] {
  padding: 5px;
  margin-bottom: 10px;
}

.add-expense-form button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-expense-form button:hover {
  background-color: #555;
}
